<div class="page-header">
<h1>     </h1>
</div>

<div class="row">
  <div class="span10">
    <h1> 
      <%= gravatar_for @user, :size => 30 %>
      <%= @user.name %>
    </h1>
  </div>
  <div class="span4">
    <dl>
      <dt>Name</dt>
      <dd> <%= @user.name %> </dd>
      <dt>URL</dt>
      <dd> <%= link_to user_path(@user) %> </dd>
    </dl>
  </div>
</div>



